###> project general rules ###
/.idea
/src/vendor/*
/src/.bash_history
/src/config/jwt/*
/src/.cache/
/src/.config/*
/src/.local/
/src/files/
/src/public/*
/src/.mysql_history
/src/.rnd
/src/.uniqueid.txt
/src/.htaccess.watch
/src/.bashrc
/src/.npm/
/.backup/*
*.sql
docker/*
!docker/shop/
docker/shop/*
!docker/shop/Dockerfile
!/src/public/.htaccess
!/src/config/jwt/.gitkeep
###< project general rules ###

###> in case symfony recipes generate some docker files, ###
###> they arent gonna be used, since docker-compose is handled from ./ ###
/src/.gitignore
/src/compose.yaml
/src/compose.override.yaml
###< project specific ###

###> platform.sh ###
!.platform.app.yaml
!.platform/routes.yaml
!.platform/services.yaml
###< platform.sh ###

###> shopware/core ###
/src/.env
/src/.env.local
/src/.env.*.local
/src/public/bundles/*
/src/public/media/*
/src/public/theme/*
/src/public/thumbnail/*
/src/public/sitemap/*
/src/files/*
!/src/files/.htaccess
/src/var/
/src/auth.json
/src/public/asset-manifest.json
###< shopware/core ###







